body {margin:0;}

header {width:100%;
        height: 100px;
        background-color:#4DB592;}

nav {   width:100%;
        height: 50px;
        background-color:#6500D0;}

#contenedor {   height:550px;
                display:flex;}

aside { width:25%;
        background-color:#F3FFA1;
        border:1px solid #C6CC7F;}

main {  width:50%;
        background-color:#C6CC7F;}

/*article {}*/

footer {width:100%;
        height:50px;
        background-color:#F74D4F;}