
/*Paleta de colores:
 cereza-> #F74D4F
 verde-> #4DB592
 lila-> #6500D0
 pollo-> #F3FFA1 ,#f4ffa1
 sombra de pollo-> #C6CC7F*/

body {
      font-family: monospace;
      background:rgb(95.68627450980392%, 100%, 63.13725490196078%) /*url(./img/favicon.jpg) repeat*/;
      }

article h1 {color: #660066;}
p.aviso {color:#F74D4F;
}
.aviso {
        color:#4DB592;
        font-size: 2em;
        font-family:serif;
       }

.banner {
      width:728px;
      height:auto;
      margin-top: .5em;
      margin-bottom: .5em;
      margin-left: 20em;
      margin-right: 20em;
      }

  ul {
       border-bottom:2px dotted #4DB592;
       border-left:2px solid #6500D0;
       border-right:2px dashed #6500D0;
       border-top:2px double #F74D4F;
       position: fixed;}

.contenedorprincipal {

                      border:1px solid #F74D4F;
                     }
.nera3 {
        width:500px;
        height:auto;
        margin-left:1px;
       }

.N{

        border: 2px solid #4DB592;
        width:60px;
        height:80px;
        position: relative;
        z-index:3;
        top:-1em;
        left:10em;
        opacity:0.2;



      }

.E{
        border: 2px solid #F74D4F;
        width:60px;
        height:80px;
        position: relative;
        z-index:2;
        left:8em;
        opacity:0.4;

      }

.R{
      border: 2px solid #4DB592;
      width:60px;
      height:80px;
      position: relative;
      z-index:1;
      left:7em;
      top:-1em;
      opacity:0.6;

      }

.A{
      border: 2px solid #F74D4F;
      width:60px;
      height:80px;
      position: relative;
      left:5em;
      opacity:0.8;

      }
