body {font-family: monospace;
      background-color: rgb(95.68627450980392%, 100%, 63.13725490196078%)/*#f4ffa1*/;
}

article h1 {color: #660066;}
p.aviso {color:#FF0000;
}
.aviso {
        color:#00FF00;
        font-size: 4em;
        font-family:serif;
       }

img {
  width:1200px;
  height:auto;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 30em;
  margin-right: 20em;
  }

  div {border-bottom:2px solid blue;
       border-left:2px dashed purple;
       border-right:2px dotted pink;
      border-top:2px double red;}
